@import url("./reset.css");
@import url("./tailwind.css");

canvas {
   border: 1px solid #222;
   background-color: #4169e1;
   border-radius: 4px 4px 0 0;
}
svg{
   
   & > line{
      background-color: red;
   }
}